{% extends 'base.html' %}

{% block content %}

<!-- The cta with jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 pt-4">
      <span class="text-danger">V</span>isualize.
      <span class="text-warning">I</span>nfer.
      <span class="text-success">T</span>rain.
    </h1>
    <p>
      A simple way to train your own Neural Networks easily in a hassle-free mannar. Just provide the data and click the
      button to train.
      It's just that simple. No unnecessary tinkering required. There are advanced options available if you want to use
      them.
    </p>
    <p><a class="btn btn-secondary btn-md mb-4" href="#" role="button">Learn more »</a></p>
  </div>
</div>

<div class="container mt-4 mb-4">
  <div class="row py-4">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-center">
        <div class="card-body">
          <h3 class="card-title">Training</h3>
          <img class="cta-img" src="{{ url_for('static', filename='img/neural.png') }}" alt="">
          <p>Provide your own image dataset and let NeuralPlay generate a model for you.</p>
          <p><a class="btn btn-danger" href="/train" role="button">Train »</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-center">
        <div class="card-body">
          <h3 class="card-title">Inference</h3>
          <img class="cta-img" src="{{ url_for('static', filename='img/knowledge.png') }}" alt="">
          <p>Upload your model weights and draw an inference from an image.</p>
          <p><a class="btn btn-warning" href="/infer" role="button">Infer »</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow text-center">
        <div class="card-body">
          <h3 class="card-title">Visualization</h3>
          <img class="cta-img" src="{{ url_for('static', filename='img/witness.png') }}" alt="">
          <p>Vizualize your model as a neural network with a graphical representation.</p>
          <p><a class="btn btn-success" href="/visualize" role="button">Visualize »</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}